@media screen and (mix-width: 1400px) {
  .row {
    height: 200px;
  }
}

@media screen and (max-width: 1400px) {
  .row {
    height: 300px;
  }
}

@media screen and (max-width: 1200px) {
  .row {
    height: 250px;
  }
}

@media screen and (max-width: 992px) {
  .row {
    height: 200px;
  }
}

@media screen and (max-width: 768px) {
  .row {
    height: 150px;
  }
}

@media screen and (max-width: 576px) {
  #game-board {
    width: 300px;
    height: 300px;
  }

  .row {
    height: 100px;
  }
}